---
layout: presentation
title: SWISS Post Campaign Report
class: campaign-report-Swiss
---

<div class="unsupported-content">
  <div class="unsupported-content__table">
    <div class="unsupported-content__wrap row--padding">
      <h1 class="row">{{page.title}}</h1>
      <div class="row">
        {% include pdf-download-btn.html %}
      </div>
      <p class="row">Sorry, this website doesn't support this browser. <a href="http://outdatedbrowser.com/en">Updating your browser</a> may help.</p>
    </div>
  </div>
</div>

<div class="menu__wrap">
  <div class="menu">
    <div class="icon icon--menu js-menu-toggle"></div>
    <div class="menu__panel">
      <div class="icon icon--close js-menu-toggle"></div>
      <ul class="fullpage-menu js-fullpage-menu"></ul>
      <div class="menu__panel-bottom">
        {% include pdf-download-btn.html %}
      </div>
    </div>
  </div>
</div>

<div class="page-content__wrap">
  <div class="fullpage page-content">

    <!-- Title section -->
    <div class="section title" data-section-link="title-page" data-section-title="{{ site.title }}">
      <div class="title__wrap">
        <h1>{{ site.title }}</h1>
        <hr>
        <h2>2016</h2>
        <div class="tab-logo tab-logo--bottom-right">
          <img class="js-svg-swap" src="img/logo/secret-escapes-white.png" alt="Secret Escapes Logo">
        </div>
      </div>
    </div>


    <!-- Device with stats -->
    <div class="section standard standard--fullpage" data-section-link="device-with-stats" data-section-title="Device with stats">

      <div class="slide" data-anchor="macbook">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Device & Stats - Two Columns</h2>
            <h3>Macbook</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="iphone">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Device & Stats - Two Columns</h2>
            <h3>iPhone</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--iphone device-frame--iphone-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-mobile.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="ipad">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Device & Stats - Two Columns</h2>
            <h3>iPad</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--ipad device-frame--ipad-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="imac">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Device & Stats - Two Columns</h2>
            <h3>iMac</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Multiple Devices with inline stats -->
    <div class="section standard standard--fullpage" data-section-link="multiple-devices-with-inline-stats" data-section-title="Multiple devices with inline stats">

      <div class="slide" data-anchor="macbook">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Multiple devices with inline stats</h2>
            <h3>Macbook</h3>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row stats stats--inline">
            <p>Visits <span class="stats__stat">000,000</span> Entrants <span class="stats__stat">000,000</span> Entry rate <span class="stats__stat">000,000</span> Opt-ins <span class="stats__stat">000,000</span> Opt-in Rate <span class="stats__stat">000,000</span></p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="iphone">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Multiple devices with inline stats</h2>
            <h3>iPhone</h3>
          </div>
          <div class="row row--columns-3-3-3-3-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--iphone device-frame--iphone-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-mobile.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--iphone device-frame--iphone-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-mobile.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--iphone device-frame--iphone-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-mobile.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--iphone device-frame--iphone-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-mobile.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row stats stats--inline">
            <p>Visits <span class="stats__stat">000,000</span> Entrants <span class="stats__stat">000,000</span> Entry rate <span class="stats__stat">000,000</span> Opt-ins <span class="stats__stat">000,000</span> Opt-in Rate <span class="stats__stat">000,000</span></p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="ipad">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Multiple devices with inline stats</h2>
            <h3>iPad</h3>
          </div>
          <div class="row row--columns-4-4-4-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row stats stats--inline">
            <p>Visits <span class="stats__stat">000,000</span> Entrants <span class="stats__stat">000,000</span> Entry rate <span class="stats__stat">000,000</span> Opt-ins <span class="stats__stat">000,000</span> Opt-in Rate <span class="stats__stat">000,000</span></p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="imac">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Multiple devices with inline stats</h2>
            <h3>iMac</h3>
          </div>
          <div class="row row--columns-6-6-gutters">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row stats stats--inline">
            <p>Visits <span class="stats__stat">000,000</span> Entrants <span class="stats__stat">000,000</span> Entry rate <span class="stats__stat">000,000</span> Opt-ins <span class="stats__stat">000,000</span> Opt-in Rate <span class="stats__stat">000,000</span></p>
          </div>
        </div>
      </div>

    </div>

    <!-- Overlapping Devices with inline stats -->
    <div class="section standard standard--fullpage" data-section-link="overlapping-devices-with-inline-stats" data-section-title="Overlapping devices with inline stats">

      <div class="slide" data-anchor="imac-macbook">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Overlapping devices with inline stats</h2>
            <h3>iMac &amp; Macbook</h3>
          </div>
          <div class="row align-center">
            <div class="overlap overlap--imac-macbook">
              <div class="device-frame device-frame--imac device-frame--imac-medium">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--macbook device-frame--macbook-medium">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row stats stats--inline">
            <p>Visits <span class="stats__stat">000,000</span> Entrants <span class="stats__stat">000,000</span> Entry rate <span class="stats__stat">000,000</span> Opt-ins <span class="stats__stat">000,000</span> Opt-in Rate <span class="stats__stat">000,000</span></p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="macbook-iphone">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Overlapping devices with inline stats</h2>
            <h3>Macbook &amp; iPhone</h3>
          </div>
          <div class="row align-center">
            <div class="overlap overlap--macbook-iphone">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--iphone device-frame--iphone-small">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite-mobile.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row stats stats--inline">
            <p>Visits <span class="stats__stat">000,000</span> Entrants <span class="stats__stat">000,000</span> Entry rate <span class="stats__stat">000,000</span> Opt-ins <span class="stats__stat">000,000</span> Opt-in Rate <span class="stats__stat">000,000</span></p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="macbook-ipad">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Overlapping devices with inline stats</h2>
            <h3>Macbook &amp; iPhone</h3>
          </div>
          <div class="row align-center">
            <div class="overlap overlap--macbook-ipad">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row stats stats--inline">
            <p>Visits <span class="stats__stat">000,000</span> Entrants <span class="stats__stat">000,000</span> Entry rate <span class="stats__stat">000,000</span> Opt-ins <span class="stats__stat">000,000</span> Opt-in Rate <span class="stats__stat">000,000</span></p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="ipad-iphone">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Overlapping devices with inline stats</h2>
            <h3>iPad &amp; iPhone</h3>
          </div>
          <div class="row align-center">
            <div class="overlap overlap--ipad-iphone">
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--iphone device-frame--iphone-small">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite-mobile.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row stats stats--inline">
            <p>Visits <span class="stats__stat">000,000</span> Entrants <span class="stats__stat">000,000</span> Entry rate <span class="stats__stat">000,000</span> Opt-ins <span class="stats__stat">000,000</span> Opt-in Rate <span class="stats__stat">000,000</span></p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="macbook-ipad-iphone">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Overlapping devices with inline stats</h2>
            <h3>Macbook &amp; iPhone</h3>
          </div>
          <div class="row align-center">
            <div class="overlap overlap--macbook-ipad-iphone">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--iphone device-frame--iphone-small">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite-mobile.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row stats stats--inline">
            <p>Visits <span class="stats__stat">000,000</span> Entrants <span class="stats__stat">000,000</span> Entry rate <span class="stats__stat">000,000</span> Opt-ins <span class="stats__stat">000,000</span> Opt-in Rate <span class="stats__stat">000,000</span></p>
          </div>
        </div>
      </div>

    </div>

    <div class="section standard" data-section-link="third-panel" data-section-title="Third Panel">
      <div class="standard__panel standard__panel--third-wide standard__panel--right">
        <div class="standard__content-wrap">
          <div class="standard__content">
          <h2>Fast Facts</h2>
          <h3>Secret Escapes in a nutshell</h3>

          <p class="heading-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
          <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
          <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
          <p>Ut quos aliquam enim culpa aliquid ab incidunt, maxime optio, perspiciatis, natus quae at. Ex minus velit explicabo numquam, dolorum repudiandae voluptates, aspernatur, libero quas, molestias ab qui autem tempore.</p>
          <p>Magnam perspiciatis reprehenderit necessitatibus qui quia cupiditate ab praesentium, laborum tempora pariatur ea veniam voluptate explicabo ad excepturi non, fuga delectus est. Beatae quod mollitia eum odio! Sunt voluptate, voluptatem.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section standard" data-section-link="half-panel" data-section-title="Half Panel">
      <div class="standard__panel standard__panel--half-wide standard__panel--left">
        <div class="standard__content-wrap">
          <div class="standard__content">
          <h2>Fast Facts</h2>
          <h3>Secret Escapes in a nutshell</h3>

          <div class="row row--columns-6-6-gutters heading-spacing">

            <div class="row__column">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
              <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
              <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
            </div>

            <div class="row__column">
              <p>Ut quos aliquam enim culpa aliquid ab incidunt, maxime optio, perspiciatis, natus quae at. Ex minus velit explicabo numquam, dolorum repudiandae voluptates, aspernatur, libero quas, molestias ab qui autem tempore.</p>
              <p>Magnam perspiciatis reprehenderit necessitatibus qui quia cupiditate ab praesentium, laborum tempora pariatur ea veniam voluptate explicabo ad excepturi non, fuga delectus est. Beatae quod mollitia eum odio! Sunt voluptate, voluptatem.</p>
            </div>

          </div>



          </div>
        </div>
      </div>
    </div>

    <div class="section standard" data-section-link="bottom-half-panel" data-section-title="Bottom Half Panel">
      <div class="standard__panel standard__panel--half-tall standard__panel--bottom">
        <div class="standard__content-wrap">
          <div class="standard__content">
          <h2>Fast Facts</h2>
          <h3>Secret Escapes in a nutshell</h3>

          <div class="row row--columns-6-6-gutters heading-spacing">
            <div class="row__column">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
              <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
              <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
            </div>
            <div class="row__column">
              <p>Ut quos aliquam enim culpa aliquid ab incidunt, maxime optio, perspiciatis, natus quae at. Ex minus velit explicabo numquam, dolorum repudiandae voluptates, aspernatur, libero quas, molestias ab qui autem tempore.</p>
              <p>Magnam perspiciatis reprehenderit necessitatibus qui quia cupiditate ab praesentium, laborum tempora pariatur ea veniam voluptate explicabo ad excepturi non, fuga delectus est. Beatae quod mollitia eum odio! Sunt voluptate, voluptatem.</p>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>

    <div class="section standard standard--fullpage" data-section-link="full-page" data-section-title="Full page 3 Columns">
      <div class="standard--fullpage__content">

        <h2>Fast Facts</h2>
        <h3>Secret Escapes in a nutshell</h3>

        <div class="row row--columns-4-4-4-gutters heading-spacing">
          <div class="row__column">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
            <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
            <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
          </div>
          <div class="row__column">
            <p>Ut quos aliquam enim culpa aliquid ab incidunt, maxime optio, perspiciatis, natus quae at. Ex minus velit explicabo numquam, dolorum repudiandae voluptates, aspernatur, libero quas, molestias ab qui autem tempore.</p>
            <p>Magnam perspiciatis reprehenderit necessitatibus qui quia cupiditate ab praesentium, laborum tempora pariatur ea veniam voluptate explicabo ad excepturi non, fuga delectus est. Beatae quod mollitia eum odio! Sunt voluptate, voluptatem.</p>
          </div>
          <div class="row__column">
            <p>Ut quos aliquam enim culpa aliquid ab incidunt, maxime optio, perspiciatis, natus quae at. Ex minus velit explicabo numquam, dolorum repudiandae voluptates, aspernatur, libero quas, molestias ab qui autem tempore.</p>
            <p>Magnam perspiciatis reprehenderit necessitatibus qui quia cupiditate ab praesentium, laborum tempora pariatur ea veniam voluptate explicabo ad excepturi non, fuga delectus est. Beatae quod mollitia eum odio! Sunt voluptate, voluptatem.</p>
          </div>
        </div>

      </div>
    </div>


    <div class="section standard standard--fullpage" data-section-link="full-page-2-col" data-section-title="Full page 2 Columns">
      <div class="standard--fullpage__content">

        <h2>Fast Facts</h2>
        <h3>Secret Escapes in a nutshell</h3>

        <div class="row row--columns-6-6-gutters heading-spacing">
          <div class="row__column">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
            <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
            <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
          </div>
          <div class="row__column">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
            <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
            <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
          </div>
        </div>

      </div>
    </div>


  <!-- Thank You Section -->
  <div class="section title" data-section-link="thank-you" data-section-title="Thank You">
      <div class="title__wrap">
        <div class="row">
          <h1>Thank You</h1>
          <h4>Friendly sign off message</h4>
        </div>
        <div class="tab-logo tab-logo--bottom-right">
          <img class="js-svg-swap" src="img/logo/secret-escapes-white.png" alt="Secret Escapes Logo">
        </div>
      </div>
    </div>



  </div>
</div>