---
layout: presentation
title: SWISS Post Campaign Report
class: campaign-report-Swiss
---

<div class="unsupported-content">
  <div class="unsupported-content__table">
    <div class="unsupported-content__wrap row--padding">
      <h1 class="row">{{page.title}}</h1>
      <div class="row">
        {% include pdf-download-btn.html %}
      </div>
      <p class="row">Sorry, this website doesn't support this browser. <a href="http://outdatedbrowser.com/en">Updating your browser</a> may help.</p>
    </div>
  </div>
</div>

<div class="menu__wrap">
  <div class="menu">
    <div class="icon icon--menu js-menu-toggle"></div>
    <div class="menu__panel">
      <div class="icon icon--close js-menu-toggle"></div>
      <ul class="fullpage-menu js-fullpage-menu"></ul>
      <div class="menu__panel-bottom">
        {% include pdf-download-btn.html %}
      </div>
    </div>
  </div>
</div>

<div class="page-content__wrap">
  <div class="fullpage page-content">


    <!-- Title section -->
    <div class="section title" data-section-link="title-page" data-section-title="{{ site.title }}">
      <div class="title__wrap">
        <img src="img/logo/swiss.png" alt="SWISS logo" class="js-svg-swap logo--swiss">
        <div class="row">
          <h1>Post Campaign Report</h1>
          <hr>
          <h2>2016</h2>
        </div>
      </div>
      <div class="tab-logo tab-logo--bottom-right">
        <img class="js-svg-swap" src="img/logo/secret-escapes-white.png" alt="Secret Escapes Logo">
      </div>
    </div>


    <!-- Objectives -->
    <div class="section standard" data-section-link="objectives" data-section-title="Objectives">
      <div class="standard__panel standard__panel--third-wide standard__panel--right">
        <div class="standard__content-wrap">
          <div class="standard__content">
            <h2 class="standard__title">Objectives</h2>
            <h3>What were the challenges?</h3>
            <p class="heading-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
            <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
            <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Response -->
    <div class="section standard" data-section-link="response" data-section-title="Response">
      <div class="standard__panel standard__panel--third-wide standard__panel--left">
        <div class="standard__content-wrap">
          <div class="standard__content">
            <h2 class="standard__title">Response</h2>
            <h3>Why Secret Escapes were best placed to do this</h3>
            <p class="heading-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
            <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
            <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Results -->
    <div class="section standard standard--fullpage" data-section-link="results" data-section-title="Results">
      <div class="standard--fullpage__content">
        <h2 class="standard__title">Results</h2>
        <h3>Call out the topline results</h3>
        <div class="row row--columns-4-4-4-gutters row--columns-vertical-align heading-spacing">
          <div class="row__column align-center">
            <div class="device-frame device-frame--iphone device-frame--iphone-large">
              <div class="device-frame__content device-frame__content--scroll">
                <img src="img/content/bmw-microsite-mobile.png" alt="">
              </div>
            </div>
          </div>
          <div class="row__column stats">
            <p class="stats__title">Title</p>
            <p>Impressions <span class="stats__stat">000,000</span></p>
            <p>Clicks <span class="stats__stat">000,000</span></p>
            <p>CTR <span class="stats__stat">000000%</span></p>
          </div>
          <div class="row__column stats">
            <p class="stats__title">Title</p>
            <p>Impressions <span class="stats__stat">000,000</span></p>
            <p>Clicks <span class="stats__stat">000,000</span></p>
            <p>CTR <span class="stats__stat">000000%</span></p>
          </div>
        </div>
      </div>
    </div>


    <!-- Content -->
    <div class="section standard standard--fullpage" data-section-link="content" data-section-title="Content">
      <div class="slide" data-anchor="outdoor">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Content</h2>
            <h3>Outdoor</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="relax">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Content</h2>
            <h3>Relax</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="city">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Content</h2>
            <h3>City</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="Travel">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Content</h2>
            <h3>Travel</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="Competition">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Content</h2>
            <h3>Competition</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Email -->
    <div class="section standard standard--fullpage" data-section-link="email" data-section-title="Email">

      <div class="slide" data-anchor="email-01">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Email</h2>
            <h3>Email 1</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--ipad device-frame--ipad-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>


      <div class="slide" data-anchor="email-02">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Email</h2>
            <h3>Email 2</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--ipad device-frame--ipad-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>


      <div class="slide" data-anchor="email-03">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Email</h2>
            <h3>Email 3</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--ipad device-frame--ipad-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- CURRENTLY WORKING -->

    <div class="section standard standard--fullpage" data-section-link="social" data-section-title="Social">
      <div class="standard--fullpage__content">
        <h2 class="standard__title">Social</h2>
        <h3>Lorem ipsum dolor sit amet</h3>

        <div class="row row--columns-6-6 row--columns-vertical-align heading-spacing">
          <div class="row__column">
            <div class="overlap overlap--ipad-iphone">
              <div class="device-frame device-frame--ipad device-frame--ipad-large">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite-tablet.png" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--iphone device-frame--iphone-medium">
                <div class="device-frame__content">
                  <img src="img/content/bmw-microsite-mobile.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row__column stats">
            <p class="stats__title">Title</p>
            <p>Impressions <span class="stats__stat">000,000</span></p>
            <p>Clicks <span class="stats__stat">000,000</span></p>
            <p>CTR <span class="stats__stat">000000%</span></p>
          </div>
        </div>

      </div>
    </div>


    <!-- Display -->
    <div class="section standard standard--fullpage" data-section-link="display" data-section-title="Display">

      <div class="slide" data-anchor="display-type-01">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Display</h2>
            <h3>display type 1</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-type-02">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Display</h2>
            <h3>display type 2</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-type-03">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Display</h2>
            <h3>display type 3</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/bmw-microsite.png" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Title</p>
              <p>Impressions <span class="stats__stat">000,000</span></p>
              <p>Clicks <span class="stats__stat">000,000</span></p>
              <p>CTR <span class="stats__stat">000000%</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Learnings -->
    <div class="section standard standard--fullpage" data-section-link="learnings" data-section-title="Learnings">
      <div class="standard--fullpage__content">

        <h2 class="standard__title">Learnings</h2>
        <h3>Lorem ipsum dolor sit amet</h3>

        <div class="row row--columns-6-6-gutters heading-spacing">
          <div class="row__column">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
            <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
            <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
          </div>
          <div class="row__column">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
            <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
            <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
          </div>
        </div>

      </div>
    </div>


    <!-- Summary -->
    <div class="section standard standard--fullpage" data-section-link="summary" data-section-title="Summary">
      <div class="standard--fullpage__content">

        <h2 class="standard__title">Summary</h2>
        <h3>Lorem ipsum dolor sit amet</h3>

        <div class="row row--columns-6-6-gutters heading-spacing">
          <div class="row__column">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
            <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
            <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
          </div>
          <div class="row__column">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
            <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
            <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
          </div>
        </div>

      </div>
    </div>


    <!-- Thank You Section -->
    <div class="section title" data-section-link="thank-you" data-section-title="Thank You">
      <div class="title__wrap">
        <div class="row">
          <h1>Thank You</h1>
          <h4>Friendly sign off message</h4>
        </div>
        <div class="tab-logo tab-logo--bottom-right">
          <img class="js-svg-swap" src="img/logo/secret-escapes-white.png" alt="Secret Escapes Logo">
        </div>
      </div>
    </div>


  </div>
</div>