---
layout: presentation
title: SWISS Post Campaign Report
class: campaign-report-Swiss
---

<div class="unsupported-content">
  <div class="unsupported-content__table">
    <div class="unsupported-content__wrap row--padding">
      <h1 class="row">{{page.title}}</h1>
      <div class="row">
        {% include pdf-download-btn.html %}
      </div>
      <p class="row">Sorry, this website doesn't support this browser. <a href="http://outdatedbrowser.com/en">Updating your browser</a> may help.</p>
    </div>
  </div>
</div>

<div class="menu__wrap">
  <div class="menu">
    <div class="icon icon--menu js-menu-toggle"></div>
    <div class="menu__panel">
      <div class="icon icon--close js-menu-toggle"></div>
      <ul class="fullpage-menu js-fullpage-menu"></ul>
      <div class="menu__panel-bottom">
        {% include pdf-download-btn.html %}
      </div>
    </div>
  </div>
</div>

<div class="page-content__wrap">
  <div class="fullpage page-content">


    <!-- Title section -->
    <div class="section title" data-section-link="title-page" data-section-title="{{ site.title }}">
      <div class="title__wrap">
        <img src="img/logo/swiss.png" alt="SWISS logo" class="js-svg-swap logo--swiss">
        <div class="row">
          <h1>Post Campaign Report</h1>
          <hr>
          <h2>Summer 2016</h2>
        </div>
      </div>
      <div class="tab-logo tab-logo--bottom-right">
        <img class="js-svg-swap" src="img/logo/secret-escapes-white.png" alt="Secret Escapes Logo">
      </div>
    </div>


    <!-- Summary -->
    <div class="section" data-section-link="summary" data-section-title="Summary"
      style="background-image: url('img/bg/bg-5.jpg');">
      <div class="standard__panel standard__panel--third-wide standard__panel--right">
        <div class="standard__content-wrap">
          <div class="standard__content">
            <h2 class="standard__title">Summary</h2>
            <blockquote>
            <p class="heading-spacing">"The SWISS campaign threw numerous challenges at the team but it was great to see it come together. The end result was a stunning looking microsite and moreover it produced some really impressive results!</p>
            <p>Bringing together a number of key Swiss experts allowed us to produce some genuinely credible and useful content and it showed with over 25% of visits coming to the site through natural traffic via the SWISS tab in the Secret Escapes navigation. </p>
            <p>We saw over 13,808 entrants to the competition, 261,471 video views on Facebook and a record breaking 112 sales for a single Switzerland package (sourced exclusively for this campaign this generated over £85k in revenue in a single week) - it seems that Secret Escape members genuinely love SWISS and Switzerland...."</p>
            <p class="author">Jess Little - Deputy UK Editor</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>


    <!-- Response -->
    <div class="section" data-section-link="response" data-section-title="Response"
      style="background-image: url('img/bg/bg-6.jpg');">
      <div class="standard__panel standard__panel--third-wide standard__panel--left">
        <div class="standard__content-wrap">
          <div class="standard__content">
            <h2 class="standard__title">Response</h2>
            <h3>In order to fulfill the campaign Secret Escapes...</h3>
            <ol>
              <li>Built a fully integrated SWISS Summer section into the Secret Escapes site</li>
              <li>Sourced 3 Swiss experts (advocates) from the world of photography, adventure sports and social media to help create credible and exclusive content</li>
              <li>Showcased hiking, biking and relaxation through interactive 360 VR video content</li>
              <li>Secured exclusive packages including SWISS flights, offering £25 off selected SWISS breaks</li>
              <li>Launched an extensive Social campaign across Facebook, Twitter and Instagram to showcase 360 video, imagery and promote the competition</li>
              <li>Created 4 dedicated solus emails, targeting our members by previous behaviour (speaking to members who have booked or browsed offers to Switzerland or competing destinations)</li>
              <li>Developed a competition mechanic to capture all members interested in travelling to Switzerland</li>
            </ol>
          </div>
        </div>
      </div>
    </div>


    <!-- Highlights -->
    <div class="section" data-section-link="highlights" data-section-title="Highlights"
      style="background-image: url('img/bg/bg-7.jpg');">
      <div class="standard__panel standard__panel--third-wide standard__panel--right">
        <div class="standard__content-wrap">
          <div class="standard__content">
            <h2 class="standard__title">Highlights</h2>
            <ol>
              <li>The site had 84,082 unique views</li>
              <li>The competition generated 13,808 entrants with 5,713 of them opting in to SWISS re-marketing</li>
              <li>Secret Escapes sold a record amount of Switzerland Package sales (112 including SWISS flights) on one offer (exclusively sourced with Inghams for the campaign)</li>
              <li>The videos generated over 260k views on Facebook alone and 1,617 interactions and reactions</li>
              <li>We sent 2,090 clicks from the hub through to SWISS booking pages</li>
              <li>The HPTO generated a 1.71% CTR and the best performing creative was the city image used</li>
              <li>The competition email generated a 3.18% CTR and 12.68% CTOR</li>
            </ol>
          </div>
        </div>
      </div>
    </div>


    <!-- Learnings -->
    <div class="section" data-section-link="learnings" data-section-title="Learnings"
      style="background-image: url('img/bg/bg-9.jpg');">
      <div class="standard__panel standard__panel--third-wide standard__panel--left">
        <div class="standard__content-wrap">
          <div class="standard__content">
            <h2 class="standard__title">Learnings</h2>
            <ol>
              <li>Static 360 images are more impactful on desktop</li>
              <li>Mobile is a more effective way to showcase 360 video</li>
              <li>Secret Escapes members are more receptive to SWISS packages compared to flight and hotel only</li>
              <li>An additional week needs to be factored in for testing across devices</li>
              <li>A competition is a hugely effective way of gathering data</li>
            </ol>
          </div>
        </div>
      </div>
    </div>


    <!-- Display -->
    <div class="section standard standard--fullpage" data-section-link="display-advertising" data-section-title="Display Advertising">

      <div class="slide" data-anchor="display-overview">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Swiss Summer Hub</h3>

            <div class="row row--columns-6-6-gutters heading-spacing">

              <div class="row__column">
                <p>With the ROS of site display we targeted members based in London and the South East.</p>
                <p>Swiss imagery lends itself to landscape display, thus the billboard and native 678x228 formats saw the best click through rates across display</p>
                <p>The Billboard saw a brilliant 0.8% click through rate.</p>
                <p>Mid campaign we designed two more HPTO creatives in order to optimise the HPTO and keep the creative fresh, this was beneficial as the final city creative had the best click through rate of 2.01%</p>
              </div>

              <div class="row__column stats">
                <p>Impressions <span class="stats__stat">106,472</span></p>
                <p>CTR <span class="stats__stat">2.01%</span></p>
                <p>MPU Clicks <span class="stats__stat">430</span></p>
                <p>BB Clicks <span class="stats__stat">17,133</span></p>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-takeover">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Swiss Summer Hub</h3>
          </div>

          <div class="row align-center">
            <div class="overlap overlap--imac-macbook">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content">
                  <img src="img/content/display-hpto.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--macbook device-frame--macbook-medium">
                <div class="device-frame__content">
                  <img src="img/content/display-hpto-2.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="row stats stats--inline">
            <p class="stats__title">Homepage Takeover</p>
            <p>
              Impressions <span class="stats__stat">595,658</span>
              CTR <span class="stats__stat">1.71%</span>
              MPU Clicks <span class="stats__stat">2,345</span>
              BB Clicks <span class="stats__stat">7,850</span>
              Total Clicks <span class="stats__stat">10,195</span>
            </p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-nav-button">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Swiss Summer Hub</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/display-top-line-nav.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Home Page Nav Button</p>
              <p>Impressions <span class="stats__stat">19,129,150</span></p>
              <p>CTR <span class="stats__stat">0.14%</span></p>
              <p>Total Clicks <span class="stats__stat">26,422</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-160-600">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Swiss Summer Hub</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/display-skyscraper.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">160x600</p>
              <p>Impressions <span class="stats__stat">2,117,825</span></p>
              <p>CTR <span class="stats__stat">0.15%</span></p>
              <p>Clicks <span class="stats__stat">3,084</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-300-250">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Swiss Summer Hub</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/display-mpu.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">300x250</p>
              <p>Impressions <span class="stats__stat">451,524</span></p>
              <p>CTR <span class="stats__stat">0.29%</span></p>
              <p>Clicks <span class="stats__stat">1,291</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-970-250">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Swiss Summer Hub</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/display-billboard.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">970x250</p>
              <p>Impressions <span class="stats__stat">448,943</span></p>
              <p>CTR <span class="stats__stat">0.80%</span></p>
              <p>Clicks <span class="stats__stat">3,592</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="display-678-228">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">ROS Display Advertising</h2>
            <h3>Driving to the Swiss Summer Hub</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/display-leaderboard.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">678x228</p>
              <p>Impressions <span class="stats__stat">1,174,927</span></p>
              <p>CTR <span class="stats__stat">0.25%</span></p>
              <p>Clicks <span class="stats__stat">2,931</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Email -->
    <div class="section standard standard--fullpage" data-section-link="email" data-section-title="Email">

      <div class="slide" data-anchor="email-overview">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Email</h2>
            <h3>Driving to the SWISS Summer content</h3>

            <div class="row row--columns-6-6-gutters heading-spacing">

              <div class="row__column">
                <p>The competition email generated a 3.18% CTR and 12.68% CTOR. </p>
                <p>In order to drive more bookings for SWISS we created an added value email that promoted £25 off SWISS flights. We targeted Secret Escapes members who were actively searching for Swiss breaks on site. Whilst the clicks numbers were relatively small the clicks sent from this email were highly qualified clicks.</p>
                <p>We optimised and adapted the outdoor and city emails in the middle of the campaign in order to showcase the 360 video and image content</p>
              </div>

              <div class="row__column stats">
                <div class="row row--columns-6-6-gutters">
                  <div class="row__column">
                    <p>Sent <span class="stats__stat">1,309,839</span></p>
                    <p>Open <span class="stats__stat">359,006</span></p>
                    <p>OR <span class="stats__stat">27.41%</span></p>
                  </div>
                  <div class="row__column">
                    <p>CTR <span class="stats__stat">1.80%</span></p>
                    <p>Clicks <span class="stats__stat">23,612</span></p>
                    <p>CTOR <span class="stats__stat">6.58%</span></p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="email-competition">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Email</h2>
            <h3>Competition Traffic Driver</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--ipad device-frame--ipad-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/email-competition.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Competition</p>
              <p>Sent <span class="stats__stat">453,409</span></p>
              <p>Open <span class="stats__stat">113,556</span></p>
              <p>OR <span class="stats__stat">25.04%</span></p>
              <p>CTR <span class="stats__stat">3.18%</span></p>
              <p>Clicks <span class="stats__stat">14,404</span></p>
              <p>CTOR <span class="stats__stat">12.68%</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="email-outdoor">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Email</h2>
            <h3>Outdoor Traffic Driver</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">

            <div class="row__column align-center">
              <div class="overlap overlap--ipad-iphone">
                <div class="device-frame device-frame--ipad device-frame--ipad-large">
                  <div class="device-frame__content">
                    <img src="img/content/email-outdoor.jpg" alt="">
                  </div>
                </div>
                <div class="device-frame device-frame--iphone device-frame--iphone-medium">
                  <div class="device-frame__content">
                    <img src="img/content/email-outdoor-2.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="row__column stats">
              <p class="stats__title">Outdoor Total</p>
              <p>Sent <span class="stats__stat">409,864</span></p>
              <p>Open <span class="stats__stat">122,216</span></p>
              <p>OR <span class="stats__stat">29.82%</span></p>
              <p>CTR <span class="stats__stat">0.88%</span></p>
              <p>Clicks <span class="stats__stat">3,626</span></p>
              <p>CTOR <span class="stats__stat">2.97%</span></p>
            </div>
          </div>

        </div>
      </div>

      <div class="slide" data-anchor="email-city">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Email</h2>
            <h3>City Traffic Driver</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">

            <div class="row__column align-center">
              <div class="overlap overlap--ipad-iphone">
                <div class="device-frame device-frame--ipad device-frame--ipad-large">
                  <div class="device-frame__content">
                    <img src="img/content/email-city.jpg" alt="">
                  </div>
                </div>
                <div class="device-frame device-frame--iphone device-frame--iphone-medium">
                  <div class="device-frame__content">
                    <img src="img/content/email-city-2.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="row__column stats">
              <p class="stats__title">City Total</p>
              <p>Sent <span class="stats__stat">370,571</span></p>
              <p>Open <span class="stats__stat">101,272</span></p>
              <p>OR <span class="stats__stat">27.33%</span></p>
              <p>CTR <span class="stats__stat">1.41%</span></p>
              <p>Clicks <span class="stats__stat">5,218</span></p>
              <p>CTOR <span class="stats__stat">5.15%</span></p>
            </div>
          </div>

        </div>
      </div>

      <div class="slide" data-anchor="email-voucher">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Email</h2>
            <h3>SWISS Voucher Promotion Traffic Driver</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--ipad device-frame--ipad-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/email-25off.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">£25 Off</p>
              <p>Sent <span class="stats__stat">75,995</span></p>
              <p>Open <span class="stats__stat">21,962</span></p>
              <p>OR <span class="stats__stat">28.90%</span></p>
              <p>CTR <span class="stats__stat">0.48%</span></p>
              <p>Clicks <span class="stats__stat">364</span></p>
              <p>CTOR <span class="stats__stat">1.66%</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Competition -->
    <div class="section standard standard--fullpage" data-section-link="competition" data-section-title="Competition">
      <div class="standard--fullpage__content">
        <div class="row">
          <h2 class="standard__title">Competition</h2>
          <h3>Win a luxury stay in Switzerland</h3>
        </div>
        <div class="row row--columns-8-4 row--columns-vertical-align">
          <div class="row__column align-center">
            <div class="device-frame device-frame--imac device-frame--imac-large">
              <div class="device-frame__content device-frame__content--scroll">
                <img src="img/content/competition.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="row__column stats">
            <p class="stats__title">Competition Totals</p>
            <p>Page views <span class="stats__stat">53,517</span></p>
            <p>Entries <span class="stats__stat">13,808</span></p>
            <p>Opt ins <span class="stats__stat">5,713</span></p>
            <p>Entry rate <span class="stats__stat">25.80%</span></p>
            <p>Opt in rate <span class="stats__stat">41.37%</span></p>
          </div>
        </div>
      </div>

    </div>


    <!-- Hub -->
    <div class="section standard standard--fullpage" data-section-link="hub" data-section-title="Hub">

      <div class="slide" data-anchor="hub-totals">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Summer in Switzerland campaign overview</h3>

            <div class="row row--columns-6-6-gutters heading-spacing">

              <div class="row__column">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quod rem aliquam impedit natus cupiditate maxime eum nemo ab, voluptatibus labore at blanditiis similique, delectus, fugit quo ea et. Aspernatur.</p>
                <p>Odio autem culpa dolore quae, itaque dolorem! Adipisci alias architecto ab accusamus eos. Expedita ab minima, possimus quasi, consequuntur, eligendi perspiciatis veritatis debitis placeat consectetur qui sapiente aperiam in iusto.</p>
                <p>Necessitatibus ad illo ipsum officiis non. Dolores pariatur perspiciatis consequatur soluta rerum consectetur beatae, tenetur officiis? Beatae alias voluptatum labore, ratione nam, corrupti nesciunt eveniet sequi velit autem excepturi earum.</p>
              </div>

              <div class="row__column stats">
                <p class="stats__title">Hub Totals</p>
                <p>Unique Views <span class="stats__stat">84,082</span></p>
                <p>Page views <span class="stats__stat">105,119</span></p>
                <p>Dwell <span class="stats__stat">1 min 47 secs</span></p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-overview">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Summer in Switzerland overview</h3>
          </div>

          <div class="row align-center">
            <div class="overlap overlap--macbook-ipad">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content">
                  <img src="img/content/hub-overview-1.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content">
                  <img src="img/content/hub-overview-2.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="row stats stats--inline">
            <p class="stats__title">Overview Totals</p>
            <p>
              Unique Views <span class="stats__stat">45,003</span>
              Page views <span class="stats__stat">54,725</span>
              Dwell <span class="stats__stat">1 min 44 secs</span>
            </p>
          </div>

        </div>
      </div>

      <div class="slide" data-anchor="hub-outdoor">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Summer in Switzerland outdoor</h3>
          </div>

          <div class="row align-center">
            <div class="overlap overlap--macbook-ipad">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-outdoor-1.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-outdoor-2.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="row stats stats--inline">
            <p class="stats__title">Outdoor Totals</p>
            <p>
              Unique Views <span class="stats__stat">11,281</span>
              Page views <span class="stats__stat">14,626</span>
              Dwell <span class="stats__stat">1 min</span>
            </p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-relax">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Summer in Switzerland relax</h3>
          </div>

          <div class="row align-center">
            <div class="overlap overlap--macbook-ipad">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-relax-1.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-relax-2.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="row stats stats--inline">
            <p class="stats__title">Relax Totals</p>
            <p>
              Unique Views <span class="stats__stat">8,584</span>
              Page views <span class="stats__stat">11,466</span>
              Dwell <span class="stats__stat">1 min 7 secs</span>
            </p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-travel">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Summer in Switzerland travel</h3>
          </div>

          <div class="row align-center">
            <div class="overlap overlap--macbook-ipad">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-travel-1.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-travel-2.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="row stats stats--inline">
            <p class="stats__title">Travel Totals</p>
            <p>
              Unique Views <span class="stats__stat">2,904</span>
              Page views <span class="stats__stat">3,436</span>
              Dwell <span class="stats__stat">1 min 11 secs</span>
            </p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-city">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Summer in Switzerland city</h3>
          </div>

          <div class="row align-center">
            <div class="overlap overlap--macbook-ipad">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-city-1.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-city-2.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="row stats stats--inline">
            <p class="stats__title">City Totals</p>
            <p>
              Unique Views <span class="stats__stat">10,366</span>
              Page views <span class="stats__stat">12,591</span>
              Dwell <span class="stats__stat">1 min 15 secs</span>
            </p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-360p">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Summer in Switzerland 360 photography</h3>
          </div>

          <div class="row align-center">
            <div class="overlap overlap--macbook-ipad">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-360p-1.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-360p-2.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="row stats stats--inline">
            <p class="stats__title">360 Photography</p>
            <p>
              Unique Views <span class="stats__stat">4,061</span>
              Page views <span class="stats__stat">5,216</span>
              Dwell <span class="stats__stat">1 min 2 secs</span>
            </p>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="hub-360v">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Hub</h2>
            <h3>Summer in Switzerland 360 video</h3>
          </div>

          <div class="row align-center">
            <div class="overlap overlap--macbook-ipad">
              <div class="device-frame device-frame--macbook device-frame--macbook-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-360v-1.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/hub-360v-2.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="row stats stats--inline">
            <p class="stats__title">360 Video</p>
            <p>
              Total views <span class="stats__stat">513</span>
              Duration watched <span class="stats__stat">45 secs</span>
            </p>
          </div>
        </div>
      </div>

    </div>


    <!-- Social -->
    <div class="section standard standard--fullpage" data-section-link="social" data-section-title="Social">

      <div class="slide" data-anchor="social-facebook">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social</h2>
            <h3>Interactive social posts promoting Summer in Switzerland</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/social-facebook-total.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Facebook Totals</p>
              <p>Interactions <span class="stats__stat">1,805</span></p>
              <p>People reached <span class="stats__stat">482,903</span></p>
              <p>Video views <span class="stats__stat">261,471</span></p>
              <p>Post clicks <span class="stats__stat">7,615</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="social-facebook-360v">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social</h2>
            <h3>Interactive social posts promoting Summer in Switzerland</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">

            <div class="row__column align-center">
              <div class="overlap overlap--ipad-iphone">
                <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                  <div class="device-frame__content">
                    <img src="img/content/social-facebook-360v.jpg" alt="">
                  </div>
                </div>
                <div class="device-frame device-frame--iphone device-frame--iphone-small">
                  <div class="device-frame__content">
                    <img src="img/content/social-facebook-360v-ph.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="row__column stats">
              <p class="stats__title">Facebook 360 Video</p>
              <p>Interactions <span class="stats__stat">1,617</span></p>
              <p>People reached <span class="stats__stat">465,105</span></p>
              <p>Video views <span class="stats__stat">261,471</span></p>
              <p>Post clicks <span class="stats__stat">6,689</span></p>
            </div>
          </div>

        </div>
      </div>

      <div class="slide" data-anchor="social-facebook-360p">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social</h2>
            <h3>Interactive social posts promoting Summer in Switzerland</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">

            <div class="row__column align-center">
              <div class="overlap overlap--ipad-iphone">
                <div class="device-frame device-frame--ipad device-frame--ipad-medium">
                  <div class="device-frame__content">
                    <img src="img/content/social-facebook-360p.jpg" alt="">
                  </div>
                </div>
                <div class="device-frame device-frame--iphone device-frame--iphone-small">
                  <div class="device-frame__content">
                    <img src="img/content/social-facebook-360p-ph.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="row__column stats">
              <p class="stats__title">Facebook 360 Photography</p>
              <p>Interactions <span class="stats__stat">30</span></p>
              <p>People reached <span class="stats__stat">5,010</span></p>
              <p>Post clicks <span class="stats__stat">33</span></p>
            </div>

          </div>
        </div>
      </div>

      <div class="slide" data-anchor="social-instagram">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social</h2>
            <h3>Interactive social posts promoting Summer in Switzerland</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/social-instagram.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Instagram Totals</p>
              <p>Likes <span class="stats__stat">1,770</span></p>
              <p>Comments <span class="stats__stat">20</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="slide" data-anchor="social-twitter">
        <div class="standard--fullpage__content">
          <div class="row">
            <h2 class="standard__title">Social</h2>
            <h3>Interactive social posts promoting Summer in Switzerland</h3>
          </div>
          <div class="row row--columns-8-4 row--columns-vertical-align">
            <div class="row__column align-center">
              <div class="device-frame device-frame--imac device-frame--imac-large">
                <div class="device-frame__content device-frame__content--scroll">
                  <img src="img/content/social-twitter.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="row__column stats">
              <p class="stats__title">Twitter Totals</p>
              <p>Likes <span class="stats__stat">27</span></p>
              <p>Retweets <span class="stats__stat">5</span></p>
              <p>Impressions <span class="stats__stat">20,996</span></p>
              <p>Link clicks <span class="stats__stat">74</span></p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Offers -->
    <div class="section standard standard--fullpage" data-section-link="offers" data-section-title="Offers">
      <div class="standard--fullpage__content">
        <div class="row">
          <h2 class="standard__title">Offers</h2>
          <h3>Exclusive SWISS offers</h3>
        </div>
        <div class="row row--columns-8-4 row--columns-vertical-align">

          <div class="row__column align-center">
            <div class="overlap overlap--ipad-iphone">
              <div class="device-frame device-frame--ipad device-frame--ipad-large">
                <div class="device-frame__content">
                  <img src="img/content/offers.jpg" alt="">
                </div>
              </div>
              <div class="device-frame device-frame--iphone device-frame--iphone-medium">
                <div class="device-frame__content">
                  <img src="img/content/offers-ph.jpg" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="row__column stats">
            <p class="stats__title">Offer totals</p>
            <p>Total Secret Escapes offer clicks <span class="stats__stat">8,941</span></p>
            <p>Click to book (£25 off) <span class="stats__stat">2,090</span></p>
            <p>Generated revenue <span class="stats__stat">£126,000</span></p>
          </div>
        </div>
      </div>

    </div>


    <!-- Thank You Section -->
    <div class="section title" data-section-link="thank-you" data-section-title="Thank You">
      <div class="title__wrap">
        <div class="row">
          <h1>Thank You</h1>
          <h4>From the Secret Escapes team</h4>
        </div>
        <div class="tab-logo tab-logo--bottom-right">
          <img class="js-svg-swap" src="img/logo/secret-escapes-white.png" alt="Secret Escapes Logo">
        </div>
      </div>
    </div>


  </div>
</div>
