// general typographic styles


// -------- root typography styles --------

$main-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 12px/1.728 $main-font-family;
  letter-spacing: -.015em;
  -webkit-text-size-adjust: 100%;
  @include bp( small-height ){
    font: 400 14px/1.728 $main-font-family;
  }
}


// -------- Headings --------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-weight: 300;
}

h1, .h1 {
  line-height: 1.05;
  letter-spacing: -.015em;
  font-size: 4.3em;
}

h2, .h2 {
  line-height: 1.25;
  font-size: 2.25em;
}

h3, .h3 {
  font-family: $main-font-family;
  font-size: 1.44em;
  line-height: 1.25;
  color: $se-orange;
}

h4, .h4 { font-size: 1.728em; }


// -------- general content styles --------

.page-content {
  p + *         { margin-top: 0.667em; }
  li            { list-style-position: inside; }
  ul li         { list-style-type: disc; }
  ol li         { list-style-type: decimal; }
  em            { font-style: italic; }
  strong        { font-weight: 600; }
  .align-left   { text-align: left; }
  .align-right  { text-align: right; }
  .align-center { text-align: center; }
}

blockquote {
  border-left: 2px solid #ff9009;
  margin: 1.5em 10px 1.5em 0;
  padding: 0 20px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.5em;
}
blockquote p.heading-spacing {
  display: inline;
}
blockquote p {
  margin-top: 0.5em;
}
blockquote p.author {
  color: #ff9009;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 0.94em;
}



ol { counter-reset: item; margin-top: 1.2em; }
ol li { display: block; margin-bottom: 0.6em; margin-left: 15px; line-height: 1.6;}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #ff9009;
  margin-left: -15px;
}
